.cabecalho {
    align-items: center;
    background-color: var(--background-cabecalho);
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    row-gap: 1em;
    padding: 1em 0 0;
}

.cabecalho__titulo {
    align-self: end;
    font-family: var(--font-family-cabecalho);
    font-size: var(--font-size-cabecalho);
    font-weight: var(--font-weight-cabecalho);
    justify-self: center;
}

.cabecalho__menu-hamburguer {
    justify-self: end;
    margin-right: 1em;
    width: 32px;
}

.menu-hamburguer__icone {
    background: var(--icone-cabecalho);
    height: 2em;
    width: 2em;
}

.cabecalho__banner {
    background: var(--banner-cabecalho);
    grid-area: 2/1/3/3;
    height: 100px;
    width: 100%;
}