.principal__explicar-parametros {
    padding: 0;
}

.imagem-qrcode {
    display: block;
    margin: 1em auto;
    width: 100%;
}

.explicar-parametros__lista-ordenada {
    list-style: decimal;
    padding: 0 1em;
}

.item__titulo {
    font-size: var(--font-size-titulo-lista);
    font-weight: var(--font-weight-titulo-lista);
}

.item__lista-desordenada {
    margin: .5em 0 1em;
}

.item__subtitulo {
    font-weight: var(--font-weight-sub-titulo-lista);
    text-indent: 1em;
}

.item__descricao {
    line-height: 1.3em;
    margin: .5em 0;
    padding: 0 1em;
    text-indent: 2em;
}

.sobre-api__link-qr {
    font-size: 1em;
}

#cor {
    height: 40px;
    padding: 0;
    width: 100px;
}

#qrcode {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 500px) {
    .imagem-qrcode {
        width: 50%;;
    }
}
