/* Variáveis CSS Globais */
:root {
    /* Body */
        --font-family-padrao: 'Ubuntu', sans-serif;
        --font-size-padrao: 16px;
        --font-style-padrao: normal;
        --font-weight-padrao: 400;
        --line-height-padrao: 1em;
    /* Body */
    /* Cabeçalho */
        --background-cabecalho: #FCFCFC;
        --font-family-cabecalho: 'Cute Font', cursive;
        --font-size-cabecalho: 32px;
        --font-weight-cabecalho: 500;
        --icone-hamburguer-cabecalho: url("../../img/icones/cabecalho/menu-hamburguer.png") no-repeat center center / cover;
        --banner-cabecalho: url("../../img/cabecalho/cabecalho-banner.png") no-repeat center center / cover;
    /* Cabeçalho */
    /* Lateral */
        --background-lateral: #FCFCFC;
        --border-color-hover-lateral: #868399;
        --color-lateral: #141414E3;
        --icone-sair-lateral: url("../../img/icones/lateral/x.png") no-repeat center center / cover;
    /* Lateral */
    /* Principal */
        /* Sobre-galeria */
            --background-sobre-galeria: #e0e0e077;
            --color-titulo-sobre-galeria: #141414E3;
            --font-size-titulo-sobre-galeria: 24px;
            --font-weight-titulo-sobre-galeria: 700;
        /* Sobre-galeria */
        /* Citacao */
            --background-citacao: #041014;
            --color-citacao: #FCFCFC;
            --font-size-titulo-citacao: 18px;
            --font-weight-titulo-citacao: 500;
        /* Citacao */
        /* Galeria */
            --background-galeria: #e0e0e077;
            --color-titulo-galeria: #141414E3;
            --font-size-titulo-galeria: 24px;
            --font-weight-titulo-galeria: 700;
            /* Galeria-api */
                --background-galeria-api: #FCFCFC;
                --background-link-galeria-api: #8B0000;
                --color-link-galeria-api: #FCFCFC;
                --font-size-titulo-galeria-api: 20px;
            /* Galeria-api */
        /* Galeria */
    /* Principal */
    /* Rodapé */
        --background-rodape: #FCFCFC;
        --color-link-rodape: #141414E3;
        --font-family-rodape: 'Cute Font', cursive;
        --font-size-rodape: 32px;
        --font-weight-rodape: 500;
    /* Rodapé */
}

body {
    font: var(--font-style-padrao) var(--font-weight-padrao) var(--font-size-padrao)/var(--line-height-padrao) var(--font-family-padrao);
    height: auto;
    overflow-x: hidden;
}
