@import url("./galeria-api/apis.css");

.principal__galeria {
    background-color: var(--background-galeria);
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
}

.galeria__titulo {
    color: var(--color-titulo-galeria);
    font: var(--font-weight-titulo-galeria) var(--font-size-titulo-galeria) var(--font-family-padrao);
    padding: 1em 0;
}

.galeria__artigos {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

@media screen and (min-width: 600px) {
    .galeria__artigos {
        display: grid;
        grid-template: repeat(5, auto) / repeat(2, auto);
    }
}

@media screen and (min-width: 992px) {
    .galeria__artigos {
        display: grid;
        grid-template: repeat(3, auto) / repeat(3, auto);
    }
}
