@import url("./sobre-galeria/sobre-galeria.css");
@import url("./citacao/citacao.css");
@import url("./galeria/galeria.css");

.principal {
    box-sizing: border-box;
    height: calc(100vh - 11.375em);
    width: 100vw;
}
