.lateral {
    background-color: var(--background-lateral);
    box-shadow: 1px 2px 5px #1a1a1a9f;
    height: 100vh;
    left: -9999px;
    padding: 1.5em 1em 0;
    position: absolute;
    text-align: right;
    transition: left .7s ease-in-out;
    top: 0;
    width: 60vw;
}

.lateral--ativo {
    left: 0;
}

.icone__sair {
    background: var(--icone-sair-lateral);
    cursor: pointer;
    height: 32px;
    margin-bottom: 1.5em;
    width: 32px;
}

.navegacao__lista-apis {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.lista-apis__item-api {
    padding: 8px;
}

.lista-apis__item-api:hover {
    border-left: 4px solid var(--border-color-hover-lateral);
    border-radius: 4px;
}

.item-api__link {
    color: var(--color-lateral);
    margin-left: 1em;
}

.lista-apis__item-api--nasa::before {
    content: url("../../img/icones/lateral/nasa.png");
}

.lista-apis__item-api--qrcode::before {
    content: url("../../img/icones/lateral/qrcode.png");
}

.lista-apis__item-api--clima::before {
    content: url("../../img/icones/lateral/clima.png");
}

.lista-apis__item-api--paises::before {
    content: url("../../img/icones/lateral/países.png");
}

.lista-apis__item-api--dicionario::before {
    content: url("../../img/icones/lateral/dicionario.png");
}

.lista-apis__item-api--conselhos::before {
    content: url("../../img/icones/lateral/conselhos.png");
}

.lista-apis__item-api--ip::before {
    content: url("../../img/icones/lateral/ip.png");
}

.lista-apis__item-api--url::before {
    content: url("../../img/icones/lateral/url.png");
}

.lista-apis__item-api--filmes::before {
    content: url("../../img/icones/lateral/filmes.png");
}
