.lateral {
    background-color: var(--background-lateral);
    box-shadow: 1px 2px 5px #1a1a1a9f;
    height: 100vh;
    left: -9999px;
    padding: 1.5em 1em 0;
    position: absolute;
    text-align: right;
    transition: left .7s ease-in-out;
    top: 0;
    width: 60vw;
}

.lateral--ativo {
    left: 0;
}

.icone__sair {
    background: var(--icone-sair-lateral);
    cursor: pointer;
    height: 32px;
    margin-bottom: 1.5em;
    width: 32px;
}

.navegacao__lista-apis {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.lista-apis__item-api {
    padding: 8px;
}

.lista-apis__item-api:hover {
    border-left: 4px solid var(--border-color-hover-lateral);
    border-radius: 4px;
}

.item-api__link {
    color: var(--color-lateral);
    margin-left: 1em;
}

.lista-apis__item-api--nasa::before {
    content: url("../../img/icones/lateral/nasa.png");
}

.lista-apis__item-api--qrcode::before {
    content: url("../../img/icones/lateral/qrcode.png");
}

.lista-apis__item-api--clima::before {
    content: url("../../img/icones/lateral/clima.png");
}

.lista-apis__item-api--paises::before {
    content: url("../../img/icones/lateral/países.png");
}

.lista-apis__item-api--dicionario::before {
    content: url("../../img/icones/lateral/dicionario.png");
}

.lista-apis__item-api--conselhos::before {
    content: url("../../img/icones/lateral/conselhos.png");
}

.lista-apis__item-api--ip::before {
    content: url("../../img/icones/lateral/ip.png");
}

.lista-apis__item-api--url::before {
    content: url("../../img/icones/lateral/url.png");
}

.lista-apis__item-api--filmes::before {
    content: url("../../img/icones/lateral/filmes.png");
}

@media screen and (min-width: 600px) {
    @keyframes abreMenu {
        0% {height: 0;}
        20% {height: 100px;}
        40% {height: 200px;}
        60% {height: 300px;}
        80% {height: 400px;}
        100% {height: auto;}
    }

    .lateral {
        box-sizing: border-box;
        display: none;
        height: auto;
        left: 42%;
        padding: 1.5em;
        top: 10%;
        width: auto;
    }

    .lateral--ativo {
        animation: abreMenu .05s linear;
        display: block;
    }

    .lateral__icone {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .lateral {
        left: 55%;
    }
}

@media screen and (min-width: 1200px) {
    .lateral {
        background-color: transparent;
        box-shadow: none;
        display: block;
        left: 0;
        padding: 0 0 0 1em;
        top: 56px;
    }

    .navegacao__lista-apis {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .lista-apis__item-api:hover {
        border-left: none;
        border-bottom: 4px solid var(--border-color-hover-lateral);
        border-radius: 4px;
    }
}
