@import url("./paginas/nasa.css");
@import url("./paginas/qrcode.css");
@import url("./paginas/dicionario.css");

:root {
    /* Nasa */
        --background-sobre: #e0e0e077;
        --background-explicar-parametros: #FCFCFC;
        --background-inserir-parametros: #e0e0e077;
        --background-cabecalho-tabela: #041014;
        --color-titulo-sobre: #141414E3;
        --color-cabecalho-tabela: #FCFCFC;
        --font-size-titulo-sobre: 24px;
        --font-weight-titulo-sobre: 700;
    /* Nasa */
    /* QR code */
        --font-size-titulo-lista: 18px;
        --font-weight-titulo-lista: 700;
        --font-weight-sub-titulo-lista: 500;
    /* QR code */
}

.principal__sobre-api {
    background-color: var(--background-sobre);
    padding: 0 1em 1em;
}

.sobre-api__titulo, .sobre-api__imagem-exemplo {
    color: var(--color-titulo-sobre);
    font-size: var(--font-size-titulo-sobre);
    font-weight: var(--font-weight-titulo-sobre);
    padding: 1em 0;
    text-align: center;
}

.sobre-api__imagem-exemplo {
    padding-bottom: 0;
}

.sobre-api__nome-imagem, .sobre-api__direito-autoral, .sobre-api__link-hd {
    font-size: 12px;
    font-style: italic;
}

.titulo__sigla {
    cursor: help;
    text-decoration: none;
}

.principal__explicar-parametros {
    padding: 0 1em 1em;
}

.explicar-parametros__tabela {
    background-color: var(--background-explicar-parametros);
    box-sizing: border-box;
    width: 100%;
}

.corpo__linha, .linha__coluna {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: var(--background-cabecalho-tabela);
    color: var(--color-cabecalho-tabela);
}

.linha__coluna {
    padding: 8px;
}

.linha__coluna-padrao, .linha__coluna-tipo {
    display: none;
}

.linha__coluna-descricao {
    text-align: left;
}

.principal__inserir-parametros {
    background-color: var(--background-inserir-parametros);
    padding: 0 1em 1em;
}

.formulario__rotulo, .formulario__input, .formulario__roda-api {
    display: block;
}

.formulario__input {
    margin-bottom: 1em;
    padding: 10px;
    width: 50%;
}

.formulario__rotulo {
    margin-bottom: 4px;
}

.checkbox-rotulo, .checkbox-input {
    display: inline;
    width: auto;
}

.formulario__roda-api {
    color: #FCFCFC;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #041014;
    padding: 12px;
    transition: opacity .4s linear;
}

.formulario__roda-api:hover {
    opacity: .5;
}

@media screen and (min-width: 992px) {
    .linha__coluna-padrao, .linha__coluna-tipo {
        display: table-cell;
        padding: 1em 0;
    }
}